# ---------- Global / en cualquier carpeta ----------
# Dependencias
**/node_modules/

# Variables de entorno
**/.env

# Logs
*.log
**/*.log

# Build de TypeScript
**/dist/

# ---------- Solo en la raíz (afuera de /backend) ----------
/node_modules/
/dist/
/.env
/pruebas_auth.jmx

# Mantener README en la raíz
!/README
!/README.md
!/README.*
